<h1 mat-dialog-title>
  Add New User</h1>
<div mat-dialog-content>
  <div class="user-container">
    <mat-form-field>
      <input matInput [(ngModel)]="user.name" placeholder="User Name">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput [(ngModel)]="user.userDetails.address" placeholder="User Address "></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="user.userDetails.email" placeholder="User Email">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="onSubmit()" [disabled]="!(user.name && user.userDetails.address && user.userDetails.email)" color="primary"
    cdkFocusInitial>Save</button>
</div>